<a href="https://colab.research.google.com/github/madanjha/PythonDS/blob/main/Programto_readExcel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# drive mount
from google.colab import drive

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
df=pd.read_csv('/content/drive/MyDrive/DataSets/bank-additional-full_final.csv')
filtered_data = df[((df['marital'] == 'divorce') | (df['marital'] == 'divorce'))]
filtered_data.to_csv('filtered_data.csv', index=False)
print("Filtered data has been written to 'fildata.csv'")

Filtered data has been written to 'fildata.csv'

In [ ]:
filtered_data = df[((df['marital'] == 'married') | (df['marital'] == 'divorce')) & (df['age'] > 30)]

# Displaying the filtered data
print("Filtered Data:\n", filtered_data)

Filtered Data:
        age          job  marital            education  default housing loan  \
0       56    housemaid  married             basic.4y       no      no   no
1       57     services  married          high.school  unknown      no   no
2       37     services  married          high.school       no     yes   no
3       40       admin.  married             basic.6y       no      no   no
4       56     services  married          high.school       no      no  yes
...    ...          ...      ...                  ...      ...     ...  ...
41183   73      retired  married  professional.course       no     yes   no
41184   46  blue-collar  married  professional.course       no      no   no
41185   56      retired  married    university.degree       no     yes   no
41186   44   technician  married  professional.course       no      no   no
41187   74      retired  married  professional.course       no     yes   no

         contact month day_of_week  campaign  pdays  previous     poutcome  \
0      telephone   may         mon         1    999         0  nonexistent
1      telephone   may         mon         1    999         0  nonexistent
2      telephone   may         mon         1    999         0  nonexistent
3      telephone   may         mon         1    999         0  nonexistent
4      telephone   may         mon         1    999         0  nonexistent
...          ...   ...         ...       ...    ...       ...          ...
41183   cellular   nov         fri         1    999         0  nonexistent
41184   cellular   nov         fri         1    999         0  nonexistent
41185   cellular   nov         fri         2    999         0  nonexistent
41186   cellular   nov         fri         1    999         0  nonexistent
41187   cellular   nov         fri         3    999         1      failure

       emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  nr.employed  \
0               1.1          93.994          -36.4      4.857       5191.0
1               1.1          93.994          -36.4      4.857       5191.0
2               1.1          93.994          -36.4      4.857       5191.0
3               1.1          93.994          -36.4      4.857       5191.0
4               1.1          93.994          -36.4      4.857       5191.0
...             ...             ...            ...        ...          ...
41183          -1.1          94.767          -50.8      1.028       4963.6
41184          -1.1          94.767          -50.8      1.028       4963.6
41185          -1.1          94.767          -50.8      1.028       4963.6
41186          -1.1          94.767          -50.8      1.028       4963.6
41187          -1.1          94.767          -50.8      1.028       4963.6

         y
0       no
1       no
2       no
3       no
4       no
...    ...
41183  yes
41184   no
41185   no
41186  yes
41187   no

[22538 rows x 20 columns]

In [ ]:
df

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
1,57,services,married,high.school,unknown,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
2,37,services,married,high.school,no,yes,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
3,40,admin.,married,basic.6y,no,no,no,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
4,56,services,married,high.school,no,no,yes,telephone,may,mon,1,999,0,nonexistent,1.1,93.994,-36.4,4.857,5191.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,no,yes,no,cellular,nov,fri,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41184,46,blue-collar,married,professional.course,no,no,no,cellular,nov,fri,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41185,56,retired,married,university.degree,no,yes,no,cellular,nov,fri,2,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,no
41186,44,technician,married,professional.course,no,no,no,cellular,nov,fri,1,999,0,nonexistent,-1.1,94.767,-50.8,1.028,4963.6,yes
41187,74,retired,married,professional.course,no,yes,no,cellular,nov,fri,3,999,1,failure,-1.1,94.767,-50.8,1.028,4963.6,no

In [ ]:
filtered_data = df[((df['marital'] == 'married') | (df['marital'] == 'divorce')) & (df['age'] > 30)]

# Displaying the filtered data
print("Filtered Data:\n", filtered_data)

Filtered Data:
        age          job  marital            education  default housing loan  \
0       56    housemaid  married             basic.4y       no      no   no
1       57     services  married          high.school  unknown      no   no
2       37     services  married          high.school       no     yes   no
3       40       admin.  married             basic.6y       no      no   no
4       56     services  married          high.school       no      no  yes
...    ...          ...      ...                  ...      ...     ...  ...
41183   73      retired  married  professional.course       no     yes   no
41184   46  blue-collar  married  professional.course       no      no   no
41185   56      retired  married    university.degree       no     yes   no
41186   44   technician  married  professional.course       no      no   no
41187   74      retired  married  professional.course       no     yes   no

         contact month day_of_week  campaign  pdays  previous     poutcome  \
0      telephone   may         mon         1    999         0  nonexistent
1      telephone   may         mon         1    999         0  nonexistent
2      telephone   may         mon         1    999         0  nonexistent
3      telephone   may         mon         1    999         0  nonexistent
4      telephone   may         mon         1    999         0  nonexistent
...          ...   ...         ...       ...    ...       ...          ...
41183   cellular   nov         fri         1    999         0  nonexistent
41184   cellular   nov         fri         1    999         0  nonexistent
41185   cellular   nov         fri         2    999         0  nonexistent
41186   cellular   nov         fri         1    999         0  nonexistent
41187   cellular   nov         fri         3    999         1      failure

       emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  nr.employed  \
0               1.1          93.994          -36.4      4.857       5191.0
1               1.1          93.994          -36.4      4.857       5191.0
2               1.1          93.994          -36.4      4.857       5191.0
3               1.1          93.994          -36.4      4.857       5191.0
4               1.1          93.994          -36.4      4.857       5191.0
...             ...             ...            ...        ...          ...
41183          -1.1          94.767          -50.8      1.028       4963.6
41184          -1.1          94.767          -50.8      1.028       4963.6
41185          -1.1          94.767          -50.8      1.028       4963.6
41186          -1.1          94.767          -50.8      1.028       4963.6
41187          -1.1          94.767          -50.8      1.028       4963.6

         y
0       no
1       no
2       no
3       no
4       no
...    ...
41183  yes
41184   no
41185   no
41186  yes
41187   no

[22538 rows x 20 columns]

In [ ]:
# Filtering the data based on marital status
married_data = df[df['marital'] == 'married']
unmarried_data = df[df['marital'] == 'unmarried']
divorce_data = df[df['marital'] == 'divorce']

# Displaying the filtered data
print("Married Data:\n", married_data)
print("Unmarried Data:\n", unmarried_data)
print("Divorce Data:\n", divorce_data)

Married Data:
        age          job  marital            education  default housing loan  \
0       56    housemaid  married             basic.4y       no      no   no
1       57     services  married          high.school  unknown      no   no
2       37     services  married          high.school       no     yes   no
3       40       admin.  married             basic.6y       no      no   no
4       56     services  married          high.school       no      no  yes
...    ...          ...      ...                  ...      ...     ...  ...
41183   73      retired  married  professional.course       no     yes   no
41184   46  blue-collar  married  professional.course       no      no   no
41185   56      retired  married    university.degree       no     yes   no
41186   44   technician  married  professional.course       no      no   no
41187   74      retired  married  professional.course       no     yes   no

         contact month day_of_week  campaign  pdays  previous     poutcome  \
0      telephone   may         mon         1    999         0  nonexistent
1      telephone   may         mon         1    999         0  nonexistent
2      telephone   may         mon         1    999         0  nonexistent
3      telephone   may         mon         1    999         0  nonexistent
4      telephone   may         mon         1    999         0  nonexistent
...          ...   ...         ...       ...    ...       ...          ...
41183   cellular   nov         fri         1    999         0  nonexistent
41184   cellular   nov         fri         1    999         0  nonexistent
41185   cellular   nov         fri         2    999         0  nonexistent
41186   cellular   nov         fri         1    999         0  nonexistent
41187   cellular   nov         fri         3    999         1      failure

       emp.var.rate  cons.price.idx  cons.conf.idx  euribor3m  nr.employed  \
0               1.1          93.994          -36.4      4.857       5191.0
1               1.1          93.994          -36.4      4.857       5191.0
2               1.1          93.994          -36.4      4.857       5191.0
3               1.1          93.994          -36.4      4.857       5191.0
4               1.1          93.994          -36.4      4.857       5191.0
...             ...             ...            ...        ...          ...
41183          -1.1          94.767          -50.8      1.028       4963.6
41184          -1.1          94.767          -50.8      1.028       4963.6
41185          -1.1          94.767          -50.8      1.028       4963.6
41186          -1.1          94.767          -50.8      1.028       4963.6
41187          -1.1          94.767          -50.8      1.028       4963.6

         y
0       no
1       no
2       no
3       no
4       no
...    ...
41183  yes
41184   no
41185   no
41186  yes
41187   no

[24928 rows x 20 columns]
Unmarried Data:
 Empty DataFrame
Columns: [age, job, marital, education, default, housing, loan, contact, month, day_of_week, campaign, pdays, previous, poutcome, emp.var.rate, cons.price.idx, cons.conf.idx, euribor3m, nr.employed, y]
Index: []
Divorce Data:
 Empty DataFrame
Columns: [age, job, marital, education, default, housing, loan, contact, month, day_of_week, campaign, pdays, previous, poutcome, emp.var.rate, cons.price.idx, cons.conf.idx, euribor3m, nr.employed, y]
Index: []

In [ ]:
filtered_data = df[((df['marital'] == 'married') | (df['marital'] == 'divorce'))]
filtered_data.to_csv('filtered_data.csv', index=False)

print("Filtered data has been written to 'filtered_data.xlst'")
# Displaying the filtered data
#print("Filtered Data:\n", filtered_data)

Filtered data has been written to 'filtered_data.xlst'